.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s 1;
}

.like-icon.is-liked .sparks {
  animation: sparks-flash 0.3s ease-in 0.3s 1;
}

@keyframes heart-scale {
  0%,
  100% {
    scale: 1;
  }

  50% {
    scale: 1.25;
  }
}

@keyframes sparks-flash {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    scroll-behavior: auto !important;
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
