*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-inline-size: 320px;
}

body,
h1,
h2,
p {
  margin: 0;
}

button {
  margin: 0;
  color: inherit;
  font: inherit;
}

img,
svg {
  display: block;
}

img {
  max-inline-size: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}
